*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Roboto', sans-serif;
}

.landing {
    min-height: 80vh;
    background: lightblue;
    background-size: cover;
    padding: 1rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}